*{
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice1 {
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 25px;
}

.dice1,.dice2{
  margin-top: -25px;
}

.dice2 {
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 25px;
}

body {
  background-color: #646FD4;
}

h1 {
  margin: 30px;
  margin-top: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7.6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  width: 15%;
}

.button1{
  position:absolute;
  right: 25px;
  top: 12%;
}

.button2 {
  position: absolute;
  left: 45%;
  margin-top: 10px;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 480px) {
  h1 {
    margin: 10px 0 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 2.7rem;
    color: #4ECCA3;
  }

  .dice1 {
    width: 40%;
    margin-right: 30px;
  }

  .dice2 {
    width: 40%;
  }

.diceSection{
  margin-top: 25px;
}


footer{
  margin-top: 95px;
}


footer a{
  text-decoration: none;
  color: white;
}


.button2{
  position: relative;
  left: 2%;
  top: 10px;
}

.button1{
  position: absolute;
  top: 40%;
  left: 30%;
}


}
